/*
 * Copyright Robert Bieber, 2014
 *
 * This file is part of typist.
 *
 * typist is free software: you can redistribute it and/or modify it
 * under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * typist is distributed in the hope that it will be useful, but
 * WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU
 * General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with typist.  If not, see <http://www.gnu.org/licenses/>.
 */

body {
    text-align: center;
}

.initialForm p {
    width: 600px;
    text-align: left;
    font-size: 1.2em;
}

.pageContainer {
    border: 2px solid black;
    border-radius: 7px;
    display: inline-block;
    padding: 10px;
}

.initialForm input[type=text] {
    width: 40px;
}

.typingHelpText {
    width: 500px;
    display: inline-block;
    text-align: left;
    font-size: 1.2em;
    color: #0a0a0a;
    margin-bottom: 20px;
}

.editorText {
    width: 800px;
    text-align: left;
    font-size: 1.4em;
    text-indent: 300px;
}

.editorRemainderText {
    width: 800px;
    text-align: left;
    font-size: 1.4em;
}

.editorInput {
    font-size: 1.4em;
    margin-right: 20px;
}

.editor button {
    font-size: 1.4em;
}

.editorCorrect {
    color: green;
    font-style:normal;
}

.editorUnattempted {
    color: black;
    font-style:normal;
}

.editorIncorrect {
    color: red;
    font-style: normal;
}

.editorCurrentWord {
    background-color: #cacaca;
}

.resultsWordCount {
    font-size: 1.5em;
}

.resultsSpeeds {
    padding: 0;
}

.resultsSpeeds li {
    font-size: 1em;
    display: inline;
    list-style-type: none;
}

.resultsSpeeds li:before {
    content: " | ";
}

.resultsSpeeds li:first-child:before {
    content: none;
}

.resultsHelpText {
    width: 800px;
    font-size: 1.1em;
}

.colorDisplay p {
    width: 800px;
}

.colorDisplay em {
    font-style: normal;
}
